@import '_colors';

.button {
  background-color: $orange;
  border: none;
  color: $white;
  width: 150px;
  height: 50px;
  font-size: 2em;
  background: $orange;
  background-image: linear-gradient(to bottom, $orange, darken($orange, 10%));
  border-radius: 5px;
  color: $white;
  text-decoration: none;

  &:hover {
    background: $orange;
    text-decoration: none;
  }
}
