@import '_colors';
@import '_buttons';
@import '_mixins';

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 10px;

  input[type=submit] {
  }

  input[type=text],
  input[type=password] {
    @extend .input;
  }
}


.input {
  margin-top: 10px;
  width: 250px;

  border: none;
  @include borderify($lightgrey)

  height: 50px;
  outline: none;
  font-size: 2em;
  padding:0px;
  &:focus {
    border-bottom: 3px $orange solid;
    outline: none;
  }
}
