@import '_colors';
@import '_mixins';
@import '_buttons';

.wrapper {
  margin-top: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.membersContainer {
  display: flex;
  flex-direction: column;
  background-color: $white;
  @include borderify($lightgrey);
  width: 320px;
  margin-bottom: 10px;
}

.members {
  @include centerify;
  color: $orange;
  font-size: 16px;
  margin: 10px 10px 10px 10px;
}
