@import '_colors';
@import '_mixins';
.group-box {
  margin-top: 30px;
  margin-bottom: 20px;
  color: $dark-bg;
  height: auto;
  width: 320px;
  padding: 10px;
  @include borderify($lightgrey)
  background-color: $white;
}
